* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px;

}
                                            /*-inicio header-*/

header {
    margin-top: 7px;
    margin-left: 110px;
    margin-bottom: 10px;
    background-color: #06283D;
    height: 55px;
    width: 1500px;
    border-radius: 20px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 80px;
    justify-content: space-between;
}

#Enlaces button{
    color: white;
    background-color: #47B5FF;
    text-decoration: none;
    width: 100px;
    height: 40px;
}

#Enlaces {
    width: 100px;
    height: 40px;
    margin-left: 15px;
    margin-top: -20px;
}

#Enlaces button:hover {
    background-color: rgb(51, 113, 255);
}

#Search input{
    margin-right: 80px;
    width: 250px;
}

#Search {
    margin-top: -10px;

}

  /*-fin header-*/

body{
    background-color: #113e5ad3 ;
}


.all{
    border-radius: 50px;
    margin-left: 70px;
    margin-bottom: 10px;
   width: 1735px;
    background-color: rgba(179, 213, 221, 0.788);
    opacity: 1;
}


#log {
    width: 100px;
    height: 100px;
}

#marca {
    width: 150px;
    height: 150px;
}

.container-products{
    margin-bottom: 15px;
    margin-left: 10px;
 
    width: 750px;
    height: 800px;
    border-radius: 20px;
}

#producto{width: 250px;
height: 200px;}

.container-down{
    display: flex;
    flex-direction: row;
}

button{
    background-color: #113e5ad3 ;
    width: 400px;
    height: 400px;
    margin-left: 15px;
    border: none;
    border-radius: 15px;
    
}

#button-img{
    width: 350px;
    height: 350px;
}

.buttons{
    margin-left: 80px;
    width: 900px;
    display: flex;
flex-wrap: wrap;}

.container-top {
    justify-content: space-evenly;
    width: 1500px;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-bottom: 50px;
}

.container-top h2 {
    color: blueviolet;
}

.pr {
    display: flex;
    flex-direction: row;
}